@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}
img{
  max-width: none;
}
body {
  color: black;
  background: var(--background);
  font-family: MyFont;
}

@font-face {
  font-family: 'MyFont';
  src: url('/font/CMMCoda-MonoSerif.woff2') format('woff2'),
       url('/font/CMMCoda-MonoSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 p .textMenu{
  font-size: 12px;
} 

h1, p{ 
  color: black;
  font-size: 12px;
  }


.ajImg{
  position: fixed;
  bottom: 10px;
  width: 100%;
}

iframe{
  width:100% !important;
  height:60% !important;
}

.ajImg2{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 20%;
}
.contactFirstBlock{
  width: 25vW;
  height: 47vh;
  display: flex;
  align-items: flex-end;
  padding-left: 45px;
  margin-bottom: 70px;
  color:black;
}
.buttonRates{
  border: 1px solid black;
    width: auto;
    font-size: 12px;
    padding-inline: 25px;
    text-transform: uppercase;
}
.treatmentSeparator{
  position: absolute;
  left: 0;
  top: 0;
}
.moodFilmSeparator{
  position: absolute;
  right: 0;
  bottom: 0;
}
.treatmentVertical{
  position: absolute;
  left: -25px;
  top: 50%;
  transform: rotate(90deg)
}
.moodFilmVertical{
  position: absolute;
  right: -25px;
  top: 50%;
  transform: rotate(-90deg)
}
.contactSecondBlock{
height: auto;
}
.contactThirdBlock{
  height: 45vh;
  }

.enquire{
  font-size: 12px;
}

/*     */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:rgb(255 255 255 / 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-image {
  max-height: 90vH;
  object-fit: contain;
}

.close-btn,
.nav-btn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: black;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

.close-btn {
  top: 20px;
    right: 20px;
    position: fixed;
    color: rgb(0, 0, 0);
    background: none;
    z-index: 9999999;
}

.prev-btn {
  left: 0;
  top: 0;
  width: 50%;
  height: 80%;
  background: none;
  cursor: w-resize;}

.next-btn {
  right: 0px;
    top: 0;
    height: 80%;
    width: 50%;
    background: none;
    cursor: e-resize;
}

.infoCreative{
  width: 100%;
  color: black;
  padding-inline: 45px;
  padding-right: 23px;
}

::selection {
  color: white; /* Colore del testo selezionato */
  background:#ffa3d7; /* Colore di sfondo della selezione */
}


/* Nascondi l'immagine magicGif di default */
.creative-header .magicGif {
  display: none;
  opacity: 0;
}

/* Mostra l'immagine magicGif quando il contenitore .creative-header è in hover */
.creative-header:hover .magicGif {
  display: block;
  opacity: 1;
}


.mia-classe{
  height: 48vH;
  width: fit-content;
}


.headerMobile{
  display: none;
}
.headerDesktop{
  display: flex;
}

.footerVoice{
  width: 70vW;
  color:black
}

.projectsImage{
  height: 300px;
  width: auto;
  margin-bottom: 0px;
  padding-bottom: 15px;
  cursor: pointer;
  user-select: none; /* Evita la selezione */
  -webkit-user-drag: none; /* Disabilita il trascinamento su browser WebKit */
}

.sideBar{
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    position: fixed;
    top: 0%;
    z-index: 999;

}
.normeFooter{
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  margin-bottom: 15px;
}

.voiceName{
  width: 25%;
  text-transform: uppercase;
}

.rateColonne{
  color:black;
  width: 16.66%;
  padding-right: 10px;
  height: 40vH;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.divRate{
  display: contents;
}
.divHome{
   display: flex;
    gap: 10px ; 
    margin-top:50vH;
   /* transform:translate(-25vW,-50%);
   overflow:hidden;
   width:max-content*/
   transform:translate(0,-50%);
   overflow:scroll;
   
}
.moodFilmsList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  padding-left: 45px;
  padding-right: 45px;
  color: black;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0px !important;
  height: 1px!important;
}

::-webkit-scrollbar-track {
  background-color: white!important;
  -webkit-border-radius: 0px!important;
  border-radius: 0px!important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px!important;
  border-radius: 0px!important;
  background: black!important;
}

.nameCreative{
  margin-left: 45px;
  width: 25%;
  cursor: pointer;
}

.coverMoodFilm{
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  cursor: pointer;

}

.rigaRate{
  border-top: 1px solid black;
  margin-top: 50px;
  display: none;
}
.enquire:hover{
  text-decoration: underline;
}

.separatorDiv{
  min-width: 325px;
    height: 286px;
    position: relative;
}
.separatorInfo{
  min-width: calc(25vw + 18px);
      height: 286px;
    position: relative;
}

/* Media Query per smartphone (max-width 767px) 7//////////(/&%$&/)(/&%$£$%&/()(/&%$£"7*/
@media screen and (max-width: 767px) {
  .headerMobile{
    display: block;
  }
  .headerDesktop{
    display: none !important;
  }
  .rateColonne{
    width: auto;
    margin-bottom: 20px;
  }
  .buttonRates{
    width: 100%;
}
  .divRate{
    display: block;
    width: 75%;
  }
  .contactFirstBlock{
    width: auto;
  }

  .coverMoodFilm{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
  
  }

  .footerVoice{
    margin-top: 40px;
  }
  .moodFilmsList{
    grid-template-columns: repeat(1, 1fr);
  }

  .divHome{
    gap:5px
  }
  .infoCreative{
  
    padding-inline: 1rem;
  }


  .separatorInfo{
    min-width: 325px;
      height: 230px;
      position: relative;
  }
  
  .normeFooter{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contactFirstBlock{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sideBar{
    padding-left: 1rem;
    padding-right: 1rem;  
}

.contactSecondBlock{
  height: auto;
  }
  .contactThirdBlock{
    height: auto;
    }

    .rateColonne{
      justify-content: space-around;
    }

    .magicGif{
      visibility: hidden;
    }

  .moodFilmsList{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menuOpenMobile li{
    margin-bottom: 15px;
    width: 100%;
  }
  .nameCreative{
    margin-left: 1rem;
    width: auto;
  }
  
  .projectsImage {
    max-height: 230px;
}
.separatorDiv{
    height: 230px;
}
    
.rigaRate{

  display: block;
}


iframe{
  width:70% !important;
  height:60% !important;
}

}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .headerMobile{
    display: none;
  }
  .headerDesktop{
    display: block;
  }
  .contactFirstBlock{
    margin-top: 30vH;
  }
  
  .contactSecondBlock {
    height: auto;
}
.rateColonne{
  height: 105vH;
}
.textMenu p{
  font-size: 7px;
}

}
